@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@font-face {
	font-family: 'TTHoves-Medium';
	src: url('./src/fonts/TTHoves-Medium.ttf');
}

body {
	font-family: 'TTHoves-Medium';
}